
<tr>
  <% @column_names.each do |column_name| -%>
    <% is_id       = column_name == 'id'
       is_category = column_name == 'category_id'
       align = is_id ? 'right' : 'left' -%>
    <td align="<%= align %>">
      <% unless shows_form -%>
        <% value = is_category ? subject.category.name_zen \
                               : subject.send(:attributes)[column_name] -%>
        <%= link_to_if is_id, value, :action => 'edit', :id => subject %>
      <% else -%>
        <% if @subject.new_record? && is_id -%>
          <%= nil %>
        <% elsif is_category -%>
          <%= f.collection_select :category_id, Category.all, :id, :name_zen %>
        <% else -%>
          <% size = is_id ? 4 : 30 -%>
          <%= f.text_field column_name, :size => size %>
        <% end -%>
      <% end -%>
    </td>
  <% end -%>
</tr>

