
<font size="+2">
  <%= link_to 'お題の新規作成', new_subject_path(:category_id => @category_id) %>
</font>
<%= nbsp(4) %>

<% @categories.each do |category| -%>
  <span style="<%= category.id != @category_id ? '' : 'font-weight: bold' %>">
    <%= link_to_unless category.id == @category_id,
                category.name_zen, subjects_path(:category_id => category.id) %>
  </span>
  <%= nbsp %>
<% end -%>

<%= nbsp %>
<span style="<%= @category_id ? '' : 'font-weight: bold' %>">
  <%= link_to_if @category_id, 'すべて', subjects_path %>
</span>

<% form_tag filter_by_name_subjects_path do -%>
  検索文字: <%= text_field_tag :name_to_filter, @name_to_filter %>
  <%= submit_tag '検索' %>
<% end -%>

