
<% tr_class = defined?(subject) && ! subject.active? ? 'not_used' : '' -%>

<tr class="<%= tr_class %>">
  <% @column_names.each do |column_name| -%>
    <% is_id       = column_name == 'id'
       is_category = column_name == 'category_id'
       is_isactive = column_name == 'is_active'
       align = is_id ? 'right' : is_isactive ? 'center' : 'left' -%>
    <td align="<%= align %>">
      <% unless shows_form -%>
        <% value = is_category ?  subject.category.name_zen \
                 : is_isactive ? (subject.active? ? '-' : '未使用') \
                               :  subject.send(:attributes)[column_name] -%>
        <%= link_to_if is_id && listing, value, edit_subject_path(subject, :category_id => @category_id) %>
      <% else -%>
        <% if is_id -%>
          <%= @subject.new_record? ? nil : @subject.id %>
        <% elsif is_category -%>
          <%= f.collection_select :category_id, @categories, :id, :name_zen %>
        <% elsif is_isactive -%>
          <%= f.select :is_active, [['使用中', true], ['未使用', false]] %>
        <% else -%>
          <% size = is_id ? 4 : 30 -%>
          <%= f.text_field column_name, :size => size %>
        <% end -%>
      <% end -%>
    </td>
  <% end -%>

  <% if defined?(listing) && listing -%>
    <td>
      <%= link_to '削除', subject_path(subject, :category_id => @category_id), :method => :delete,
                          :confirm => "OK to delete \"#{subject.name_zen}(#{subject.name})\"?",
                          :class => "alertingBackground white"
                          %>
    </td>
  <% end -%>
</tr>

